body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5fdfb;
}

header {
    background-color: #2bbbad;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    padding: 60px;
    text-align: center;
    background-color: #e0f7f5;
}

.btn {
    background-color: #2bbbad;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.servicios {
    padding: 40px;
    text-align: center;
}

.servicios li{

    marker: none;
}

.page {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #2bbbad;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 8px;
    margin-bottom: 15px;
}

footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 10px;
}
